<html xmlns:th="http://www.thymleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Hello Thymeleaf</h1>
    <p th:text="${#temporals.format(today, 'yyyy-MM-dd')}"></p>
    <div th:object="${person}"> <!--person을 선택한 객체로 지정함-->
        <p th:text="|이름 : *{name} |"></p>
        <p th:text="|나이 : *{age} |"></p> <!--person객체 내부에 있는 값에 접근할떄 사용 *{}-->
        <p> 취미 </p>

        <ul th:each="hobby : *{hobbies}"> <!--hobbies 갯수만큼 반복 -->
            <li th:text="${hobby}"></li>
            <span th:if="${hobby == '클라이밍'}"> (대표취미)</span>
        </ul>
    </div>

    <a th:href="@{/api/articles/{id}(id=${person.id})}">글 보기</a>
</body>
</html>